@import "tailwindcss";

:root {
  --background: #E6E5E5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-alata: var(--font-alata);
  --font-outfit: var(--font-outfit);
  --font-heading: var(--font-alata);
  --font-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading,
.font-alata {
  font-family: var(--font-alata), sans-serif;
}




/* Lenis smooth scroll styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis-stopped {
  overflow: hidden;
}

.lenis-scrolling iframe {
  pointer-events: none;
}